@media only screen and (max-width: 480px) {
  body.nav-open #main {
    margin-left: 125px;
    -webkit-transform: translatex(0) !important;
    -moz-transform: translatex(0) !important;
    -ms-transform: translatex(0) !important;
    transform: translatex(0) !important;
  }
  header,
  #main {
    position: relative;
    z-index: 99;
  }
  #main section .description p {
    min-width: 0;
    width: 100%;
  }
}
