@import "../fonts/icomoon.css";

html {
  font-family: "Myriad Set Pro","Lucida Grande","Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";
}

[class^=icon] {
  vertical-align: middle;
}

.text-monospace {
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}

.text-xl { font-size: 3em;}
.text-lg { font-size: 1.5em;}
.text-md { font-size: 1em;}
.text-sm { font-size: .85em;}
.text-xs { font-size: .7em;}

.text-blue    { color: $blue; }
.text-md-blue { color: $md-blue; }
.text-dk-blue { color: $dk-blue; }
.text-green   { color: $green; }