// colors
$blue:    rgb( 0,200,215);
$md-blue: rgb(94,122,136);
$dk-blue: rgb(52, 85,104);
$green:   rgb( 0,219,181);

$bg-gray: #f4f5f7;

$gray-darker:            darken($bg-gray, 40%) !default;
$gray-dark:              darken($bg-gray, 20%) !default;
$gray:                   darken($bg-gray, 10%) !default;
$gray-light:             darken($bg-gray, 5%) !default;
$gray-lighter:           $bg-gray !default;

$lt-gray: $bg-gray;

$brand-primary: $blue;
$brand-success: $green;

// icon path
$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";