.btn.blue,    .bg-blue      { background-color: $blue; color: white; }
.btn.md-blue, .bg-md-blue   { background-color: $md-blue; color: white; }
.btn.dk-blue, .bg-dk-blue   { background-color: $dk-blue; color: white; }
.btn.green,   .bg-green     { background-color: $green; color: white; }

.bg-lt-gray                 { background-color: $gray-light; color: $text-color; color: darken($text-color,5%); }
.bg-gray                    { background-color: $gray; color: $text-color; color: darken($text-color,10%); }

.btn.blue:hover             { background-color: $brand-success; }

.btn {
  padding: 0 10px;
}