.bg-1{ background-image: url(/img/1/1.jpg); }
.bg-2{ background-image: url(/img/1/2.jpg); background-position: 100% 50% !important; }
.bg-3{ background-image: url(/img/1/3.jpg); background-position: 65%  50% !important; }
.bg-4{ background-image: url(/img/1/4.jpg); }
.bg-5{ background-image: url(/img/1/5.jpg); }
.bg-6{ background-image: url(/img/1/6.jpg); background-position: 100%  50% !important; }
.bg-7{ background-image: url(/img/1/7.jpg); }

* {
  outline: none;
}

.browsehappy {
  margin: 0;
  background: #222;
  color: white;
  padding: 0.5em 0;
  text-align: center;
}

i[parallax-element],
em[parallax-element],
span[parallax-element],
strong[parallax-element] {
 display: inline-block;
}

#main-content {
  .layer {
    position: relative;
    min-height: 100vh;
    padding-top: 10vh;
    padding-bottom: 10vh;
    overflow: hidden;

    font-weight: 100;
    font-size: 30px;
    color: white;

    .container {
      position: relative;
      z-index: 2;
    }

    @media (min-width: $screen-sm-min) {
      font-size: 4vw;
    }

    @media (min-width: $screen-md-min) {
      font-size: 3vw;
    }

    &.map {
      background-color: #333;
      background-size: cover;
      background-position: center;

      #map-canvas-toronto,
      #map-canvas-philadelphia, {
        width: 300px;
        height: 300px;
        border-radius: 50%;
        border: 2px solid black;
        box-shadow: 0 5px 25px black;
        margin: 20px auto;
        z-index: 9;
      }

      .divider {
        width: 0;
        height: 150px;
        margin: 0 auto;

        hr {
          width: 0;
          height: 100%;
          border: none;
          border-left: 5px dashed white;
        }
      }

      @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
        #map-canvas-toronto,
        #map-canvas-philadelphia, {
          width: 250px;
          height: 250px;
        }
      }

      @media (min-width: $screen-sm-min) {
        min-height: 0;
        height: 0;
        padding: 0;
        overflow: visible;

        .divider {
          position: relative;
          width: percentage(1/3);
          padding-top: 50px;
          z-index: 9;

          small {
            display: block;
            font-size: 20px;
            line-height: 20px;
            margin: 10px 0;

            i {
              display: inline-block;
              margin: -2px 5px;
            }
          }

          hr {
            display: block;
            width: 100%;
            height: 0;
            border-top: 5px dashed white;
            margin: 0;
          }
        }

        #map-canvas-toronto,
        #map-canvas-philadelphia, {
          top: -150px;
        }
      }
    }

    &.bottom {
      min-height: 0;

      .contact-icons {
        a {
          color: white;
          padding: 20px;
          opacity: .5;
          font-size: 2em;

          &:hover {
            opacity: 1;
            text-decoration: none;
          }
        }
      }

      @media (min-width: $screen-sm-min) {
        padding-top: 300px;
      }
    }
  }

  .layer-background {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 125%;
    background-size: cover;
    background-position: 50% 50%;
    z-index: 1;
  }
}

.jumbotron {
  color: black;
  margin-bottom: 0;

  h1 {
    float: right;
    color: white;
    padding: 35vh 0 5vh;
    margin: 0;

    .intro {
      font-size: 5vw;
      font-weight: 100;
    }

    .full-name {
      font-size: 14vw;
      letter-spacing: -0.1em;
    }

    .job-title {
      color: white;
      display: block;
      margin-bottom: 10px;
      font-size: 8vw;
      text-align: right;

      small {
        font-weight: 100;
        margin-right: .5em;
        font-size: 5vw;
      }

      span {
        @extend .text-monospace;
        letter-spacing: -0.1em;
      }
    }

    .icons {
      font-size: 25px;
      text-align: right;
    }
  }

  .hint-scroll-down {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 150px;
    color: white;//$brand-primary;
    font-size: 16px;
    z-index: 9;
    margin-bottom: 30px;
    margin-left: -75px;
    opacity: 0.5;
    text-align: center;

    transition: opacity 200ms linear;

    i {
      font-size: 30px;
    }

    &:hover {
      text-decoration: none;
      opacity: 1;
    }
  }

  @media (min-width: $screen-sm-min) {
    h1 {
      .intro {
        font-size: 30px;
      }

      .full-name {
        font-size: 100px;
      }

      .job-title {
        font-size: 50px;

        small {
          font-size: 30px;
        }
      }
    }
  }
}

.list-skills {
  list-style: none;
  padding-left: 0;
  text-align: center;

  i {
    display: block;
    width: 1.8em;
    height: 1.8em;
    line-height: 1.5em;
    border-radius: 50%;
    border: 5px solid white;
    margin: 0 auto 20px;
  }

  li {

    a {
      @extend .text-monospace;

      color: white;

      &:hover {
        text-decoration: none;

        &:after {
          content: ' »';
        }
      }
    }

    @media (min-width: $screen-sm-min) and (max-width: $screen-md-min) {
      font-size: 30px;
    }
  }
}

.screen-icons,
.platform-icons {
  i {
    display: inline-block;
    font-size: 70px;
    margin: .2em .5em;
  }
}

footer {
  background-color: #222;
  color: $brand-primary;
  line-height: 55px;
  padding: 1em 0;
  border-top: 3px solid $brand-primary;
  font-weight: 100;
  font-size: 12px;
}

#modal-site-details {
  text-align: center;

  @media (min-width: $screen-sm-min) {
    text-align: left;
  }
}