@media only screen
and ( max-width: 480px ) {

  body.nav-open {
    #main {

      margin-left: 125px;

      -webkit-transform: translateX( 0 ) !important;
         -moz-transform: translateX( 0 ) !important;
          -ms-transform: translateX( 0 ) !important;
              transform: translateX( 0 ) !important;
    }
  }

  #main {
    section {
      .description {
        p {
          min-width: 0;
          width: 100%;
        }
      }

      .ipad-wrapper,
      .iphone-wrapper {
        display: none;
      }
    }
  }
}